<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.logincode.LogincodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.register.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PhotoGroup</servlet-name>
        <servlet-class>com.logincode.PhotoGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Additemservlet</servlet-name>
        <servlet-class>com.shoppingcart.Additemservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.upload.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LanguageManager</servlet-name>
        <servlet-class>com.domain.site.LangManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogincodeServlet</servlet-name>
        <servlet-class>com.logincode.LogincodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogincodeServlet</servlet-name>
        <url-pattern>/LogincodeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AttachLoginCodeServlet</servlet-name>
        <servlet-class>com.logincode.AttachLoginCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AttachLoginCodeServlet</servlet-name>
        <url-pattern>/AttachLoginCodeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LanguageServlet</servlet-name>
        <servlet-class>com.domain.site.LanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageServlet</servlet-name>
        <url-pattern>/LanguageServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LanguageConfigServlet</servlet-name>
        <servlet-class>com.domain.site.LanguageConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageConfigServlet</servlet-name>
        <url-pattern>/LanguageConfigServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PhotoGroup</servlet-name>
        <url-pattern>/PhotoGroup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadDownloadFileServlet</servlet-name>
        <servlet-class>com.upload.UploadDownloadFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadDownloadFileServlet</servlet-name>
        <url-pattern>/UploadDownloadFileServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowPicturesServletLowRes</servlet-name>
        <servlet-class>com.showpictures.ShowPicturesServletLowRes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPicturesServletLowRes</servlet-name>
        <url-pattern>/ShowPicturesServletLowRes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowPicturesServletHighRes</servlet-name>
        <servlet-class>com.showpictures.ShowPicturesServletHighRes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowPicturesServletHighRes</servlet-name>
        <url-pattern>/ShowPicturesServletHighRes</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyPhotosServlet</servlet-name>
        <servlet-class>com.account.MyPhotosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyPhotosServlet</servlet-name>
        <url-pattern>/MyPhotosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Additemservlet</servlet-name>
        <url-pattern>/Additemservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjectServlet</servlet-name>
        <servlet-class>com.project.ProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectServlet</servlet-name>
        <url-pattern>/ProjectServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>com.account.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.domain.bestelling.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MyOrdersServlet</servlet-name>
        <servlet-class>com.account.MyOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyOrdersServlet</servlet-name>
        <url-pattern>/MyOrdersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPhotoToGrey</servlet-name>
        <servlet-class>com.editphoto.EditPhotoToGrey</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPhotoToGrey</servlet-name>
        <url-pattern>/EditPhotoToGrey</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPhotoToSepiaServlet</servlet-name>
        <servlet-class>com.editphoto.EditPhotoToSepiaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPhotoToSepiaServlet</servlet-name>
        <url-pattern>/EditPhotoToSepiaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LanguageManager</servlet-name>
        <url-pattern>/LanguageManager</url-pattern>
    </servlet-mapping>
</web-app>
